<%- include("partials/_header-demo.ejs") %>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <b class="user-name">LUISA <b class="important"> RODRIGUEZ </b></b>
          <b class="nickname"><b class="important">'</b>LA BALA RODRIGUEZ<b class="important">'</b></b>
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <p class="edad">32 años </p><div class="point"></div><p class="nacionalidad"> MEXICANA</p>
          </div>
          <img class="logo-club" src="/biker-club-logo.png" alt="logo-club">>
          <img class="logo-byker" src="/BikerTagLogoW.png" alt="logo-byker">
          <div class="d-flex flex-wrap">
            <p class="important">CONTACTO DE EMERGENCIA   <p class="name-contacto">ISABEL ALLENDE</p> </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <button>LLAMAR AHORA <i class="bi bi-telephone-outbound-fill"></i></button>
<%- include("partials/_footer-demo.ejs") %>