<%- include("partials/_header-main.ejs") %>
<section class="wht-cont d-flex flex-wrap flex-column align-items-center justify-content-center">
    <div class="blk-cont col-xs-10 col-md-8 d-flex flex-wrap flex-column justify-content-center align-items-center rounded-2 m-5 p-3 pb-5">
        <div class="section-head d-flex flex-wrap flex-column align-items-center">
            <h1>Bienvenido de nuevo</h1>
            <div class="divider"></div>
            <p></p>
        </div>
        <div class="d-flex flex-wrap flex-column col-xs-10 col-md-6">
            <label for="user-name" class="text-white col-6">Email</label><input class="my-2" type="email" id="email" name="email" maxlength="40" required="required">
        </div>
        <div class="d-flex flex-wrap flex-column col-xs-10 col-md-6 mb-4">
            <label class="text-white">Contraseña</label><input class="my-2" type="password" id="password" name="password" maxlength="30" required="required">
        </div>
        <button type="submit" class="col-8">Ingresar</button>
    </div>
</section>
<%- include("partials/_footer-demo.ejs") %>