<%- include("partials/_header-main.ejs") %>
<div class="section-head d-flex flex-wrap flex-column align-items-center mt-5">
    <h1>EXPLORA las opciones que tenemos para ti</h1>
    <div class="divider"></div>
    <p>Contamos con diversas opciones para adaptarse a tus necesidades.</p>
</div>
<div class="d-flex flex-wrap justify-content-center align-items-center my-3">
    <div class="blk-cont col-md-5 col-sm-10 d-flex flex-wrap flex-column align-items-center rounded-2 m-2 py-5">
        <div class="section-head d-flex flex-wrap flex-column align-items-center">
            <h1>PLAN INDIVIDUAL</h1>
            <div class="divider"></div>
            <h3 class="title">Tu seguridad personalizada</h3>
        </div>
        <b class="title my-3">Información del conductor personalizada:</b>
        <div class="col-8">
            <p>-Agrega detalles médicos y de contacto esenciales.</p>
            <p>-Personaliza tu perfil para que se adapte a tus necesidades específicas.</p>
            <p>-Incluye alergias, afecciones médicas y preferencias de contacto.</p>
            <br>
        </div>
        <b class="title my-3">Acceso al micrositio BikerTag:</b>
        <div class="col-8">
            <p>-Mantén tu petfil actualizado y personalizado en cualquier momento.</p>
            <p>-Actualiza información médica y de contacto según cambien tus circinstancias.</p>
            <p>-Accede a tu perfil desde cualquier dispositivo móvil compatible.</p>
            <br>
        </div>
        <b class="title my-3">Privacidad y protección de datos:</b>
        <div class="col-8">
            <p>-Tus detalles personales y médicos se mantienen confidenciales y encriptados.</p>
            <p>-Toma el control de quién accede a tu información, incluso en situaciones críticas.</p>
            <p>-Tu seguridad y privacidad están aseguradas en  todo momento.</p>
            <br>
        </div>
        <b class="title my-3">Soporte rápido y eficiente:</b>
        <div class="col-8">
            <p>-Nuestro equipo de soporte está disponible para asistirte en cualquier consulta o necesidad.</p>
            <p>-Obtén asistencia rápida y eficaz para mantener tu perfil actualizado y seguro.</p>
            <p>-Respuestas a tus preguntas para que puedas viajar con confianza.</p>
        </div>
        <a href="/pedidos"  class="col-10 my-3"><button type="button" class="w-100">Lo quiero</button></a>
    </div>
    <div class="blk-cont col-md-5 col-sm-10 d-flex flex-wrap flex-column align-items-center rounded-2 m-2 py-5">
        <div class="section-head d-flex flex-wrap flex-column align-items-center">
            <h1>PLAN GRUPAL</h1>
            <div class="divider"></div>
            <h3 class="title">Protección para tu equipo</h3>
        </div>
        <b class="title my-3">Perfiles Personalizados para cada miembro:</b>
        <div class="col-8">
            <p>-Configura y gestiona perfiles únicos para cada miembro de tu grupo.</p>
            <p>-Incluye detalles médicos y de contacto específicos para cada conductor.</p>
            <p>-Asegura que cada miembro esté protegido con su propia información personalizada.</p>
        </div>
        <b class="title my-3">Administración Centralizada:</b>
        <div class="col-8">
            <p>-Controla y actualiza múltiples perfiles desde una única cuenta de administrador.</p>
            <p>-Agiliza la gestión de la información de seguridad de todo tu equipo.</p>
            <p>-Ahorra tiempo y esfuerzo al tener una visión completa en un solo lugar.</p>
        </div>
        <b class="title my-3">Descuentos por Volumen:</b>
        <div class="col-8">
            <p>-Disfruta de tarifas especiales al proteger a un grupo de motociclistas o ciclistas.</p>
            <p>-Accede a la mejor protección a un precio asequible para todos los miembros de tu equipo.</p>
            <p>-Maximiza los beneficios de BikerTag al extender la seguridad a más conductores.</p>
        </div>
        <b class="title my-3">Soporte Dedicado para Grupos:</b>
        <div class="col-8">
            <p>-Nuestro equipo de soporte está preparado para ayudarte con necesidades específicas de tu grupo.</p>
            <p>-Obtén asistencia en la configuración de múltiples perfiles y la administración centralizada.</p>
            <p>-Respuestas a tus preguntas para que puedas mantener a todo tu equipo seguro y protegido.</p>
        </div>
        <a href="/pedidos"  class="col-10 my-3"><button type="button" class="w-100">Lo quiero</button></a>
    </div>
</div>
<%- include("partials/_footer-demo.ejs") %>