<%- include("partials/_header-main.ejs") %>
<section class="wht-cont d-flex flex-wrap flex-column align-items-center justify-content-center">
  <div class="blk-cont col-md-8 d-flex flex-wrap flex-column justify-content-center align-items-center rounded-2 p-3 pb-5 mb-4">
    <div class="section-head d-flex flex-wrap flex-column align-items-center">
      <h1>Información de cuenta</h1>
      <div class="divider"></div>
      <p>Vamos a crear su usuario.</p>
    </div>
    <form id="" method="POST" action="/add-user" class="d-flex flex-wrap flex-column justify-content-center align-items-center w-100">
        <div class="col-6 d-flex flex-wrap flex-column">
          <label for="user-name" class="form-label text-white col-6">Nombre de Usuario</label><input class="my-2" type="text" name="user-name" id="user-name" maxlength="20" required="required">
        </div>
        <div class="col-6 d-flex flex-wrap flex-column">
          <label for="user-name" class="form-label text-white col-6">Correo electrónico</label><input class="my-2" type="email" name="email" id="email" maxlength="40" required="required">
        </div>
        <div class="col-6 d-flex flex-wrap flex-column">
          <label for="password" class="form-label text-white">Contraseña</label><input class="my-2" type="password" name="password" id="password" maxlength="20" required="required">
        </div>
        <!--<div class="d-flex flex-wrap flex-column w-100">
          <label for="password" class="form-label text-white">Confirmar Contraseña</label><input class="my-2" type="password" name="password-conf" maxlength="20" required="required">
        </div>-->
        <button type="button" class="" data-bs-toggle="collapse" data-bs-target="#full-data" aria-expanded="false" aria-controls="collapseExample">Siguiente</button>
        <div id="full-data" class="collapse w-100">
          <div class="section-head col-12 d-flex flex-wrap flex-column align-items-center">
                  <h1>Vamos a comenzar</h1>
                  <div class="divider"></div>
                  <p>Para comenzar por favor proporciona tus siguientes datos.</p>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            <div class="col-lg-5 mx-2">
              <div class="d-flex flex-wrap flex-column">
                <label for="full-name" class="form-label text-white col-6">Nombre(s)*</label><input class="my-2" type="text" name="nombre" maxlength="40" required="required">
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="last-name" class="form-label text-white">Apellidos*</label><input class="my-2" type="text" name="apellidos" maxlength="30" required="required">
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="nickname" class="form-label text-white">Apodo</label><input class="my-2" type="text" name="apodo" maxlength="20">
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="nation" class="form-label text-white">Nacionalidad*</label><select class="my-2" name="nacionalidad" required="required">
                  <option value="MEXICANA">Mexicana</option>
                </select>
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="age" class="form-label text-white">Fecha de nacimiento*</label><input class="my-2" type="date" name="edad" required="required">
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="contact-name" class="form-label text-white">Nombre de Contacto de Emergencia*</label><input class="my-2" type="text" name="cont-emer" maxlength="30" required="required">
              </div>
              <div class="d-flex flex-wrap flex-column">
                <label for="contact-num" class="form-label text-white">Número de Emergencia*</label><input class="my-2" type="text" maxlength="10" name="cont-emer-num" required="required">
              </div>
            </div>
            <div class="col-lg-5 mx-2">
                <div class="d-flex flex-wrap flex-column">
                    <label for="blood-type" class="form-label text-white">Grupo Sanguineo*</label><select class="my-2" type="text" name="grp-sang" required="required">
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB">AB</option>
                    </select>
                </div>
                <div class="d-flex flex-wrap flex-column">
                    <label for="club-byker" class="form-label text-white">Club Byker</label><input class="my-2" type="text" name="clubs" maxlength="20">
                </div>
                <div class="d-flex flex-wrap flex-column">
                    <label for="seguro" class="form-label text-white">Seguro</label><input class="my-2" type="text" name="seguro" maxlength="30">
                </div>
                <div class="d-flex flex-wrap flex-column">
                  <label for="sickness" class="form-label text-white">Enfermedades*</label>
                  <input class="my-2" type="text"
                  placeholder="¿Cuántas enfermedades desea especificar?" maxlength="1" pattern="[0-9]{1}" style="font-size: 20px; display: none;">
                  <!--Hacer que la cantidad de enfermedades se vuelva el número de rows, agregar el name="enfermedades" en caso de ser necesario-->
                  <textarea class="my-2" name="enfermedades" id="enfermedades" rows="8" placeholder="(ej. diabetes, miopia, ...)" required="required"></textarea>
                </div>
                <div class="d-flex flex-wrap flex-column">
                  <label for="alergias" class="form-label text-white">Alergias*</label>
                  <!--<input class="my-2" type="text" style="display: none;"
                  placeholder="¿Cuántas alergias desea especificar?" maxlength="1" required="required">-->
                  <textarea class="my-2" name="alergias" id="" rows="8" placeholder="(ej. diabetes, miopia, ...)" required></textarea>
                </div>
                <div class="d-flex flex-wrap flex-column">
                  <label for="tratamiento" class="form-label text-white">Tratamiento*</label>
                  <!--<input class="my-2" type="text"
                  placeholder="¿A cuántos tratamientos está sometido?" maxlength="1" style="font-size: 20px; display: none;" required="required">-->
                  <textarea class="my-2" name="tratamiento" id="" rows="8" placeholder="(ej. diabetes, miopia, ...)"></textarea>
                </div>
            </div>
          </div>  
          <button type="submit" class="">Registrar</button>
        </div>
    </form>
  </div>
</section>
<!--<script>
  const firebaseConfig = {
  
  apiKey: "AIzaSyBcfm6YfGjrxPQTqSOA7LZ7wQhto8GsUqQ",
  
  authDomain: "solid-shelter-415617.firebaseapp.com",
  
  projectId: "solid-shelter-415617",
  
  storageBucket: "solid-shelter-415617.appspot.com",
  
  messagingSenderId: "992420694448",
  
  appId: "1:992420694448:web:84f85d848c5d9b1b8c2e75",
  
  measurementId: "G-G0LL3DKW3M"
  
  };
  
  firebase.initializeApp(firebaseConfig);
  
  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.None)
  
  document.getElementById('registro')
  .addEventListener('click', function(e){
    e.preventDefault()

    const login =e.target.login.value
    const password =e.target.password.value
  
  firebase.auth().CreateUserWithEmailAndPassword(login,password.then).then(({user}) => {
    return user.getIdToken().then((idToken) => {
      return fetch("/login",{
        method: 'POST',
        headers:{
          Accept:'application/json',
          "Content-Type":"application/json",
          "CSRF-Token":Cookies.get("XSRF-TOKEN")
        },
        body:JSON.stringify({idToken})
      })
    })
  })
  .then(() => {
    return firebase.auth().signOut()
  })
  .then(() => {
    window.location.assign("/registro")
  })
  })
</script>-->
<%- include("partials/_footer-demo.ejs") %>