body{
  background-image: linear-gradient(#1114, #000), url("/prfBgImg.png");
  background-size: 428px 745px;
  background-repeat: no-repeat;
  height: 745px;
  width: 428px;
}
p, b{
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
button{
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: #be4141;
  border-style: none;
  color: #fff;
  width: 100%;
}
.point{
  background-color: #be4141;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 2px;
}
/*Clases de los Perfiles*/
.carousel-item.active{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position:fixed ;
  bottom: 60px;
  text-align: center;
}
.user-name{
  font-size: 40px;
}
.nickname, .edad, .nacionalidad{
  font-size: 20px;
}
.logo-byker, .logo-club{
  width: 100px;
  margin: -1rem;
}
.logo-club{
  margin-top: 1rem;
}
.important{
  color: #be4141;
}